<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <section>
        <h1 class="title">All BLogs</h1>
        <%if(blogs.length) {%>
        <% blogs.forEach(blog => {%>
            <article>
                <a href="/blogs/<%=blog._id%>">
                    <h3><%=blog.title%></h3>
                    <p><%=blog.snippet%></p>
                </a>
            </article>
        <%})%>
        <%}else{%>
            <h3>No Content</h3>
        <%}%>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>